#gamescreen_loading {
    font-size: xx-large;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#gamescreen_title {
    display: none;
    font-size: xx-large;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#gamescreen_config {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    font-size: x-large;
}

#gamescreen_config_title {
    font-size: x-large;
    font-weight: bold;
    position: absolute;
    top: 0px;
    left: 245px;
}

#hurigana_form {
    position: absolute;
    top: 47px;
    left: 70px;
}

#volume_form {
    position: absolute;
    top: 42px;
    left: 270px;
}

#config_btnBack {
    position: absolute;
    top: 199px;
    left: 223px;
    width: 90px;
}

#gamescreen_mode {
    display: none;
}

#mode_btn_group {
    background-color: white;
    border-radius: 7%;
    position: absolute;
    top: 17px;
    left: 60px;
}

#mode_btnBack {
    position: absolute;
    top: 16px;
    left: 517px;
    background-color: white;
    width: 30px;
    height: 30px;
}

#gamescreen_space {
    display: none;
    font-size: xx-large;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#gamescreen_countdown {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    font-weight: bold;
}

#gamescreen_playing {
    display: none;
    font-size: xx-large;
    cursor: none;
}

#kana_field {
    font-size: x-large;
}

#typed {
    color: red;
}

#gamescreen_result {
    display: none;
    text-align: center;
}

/* ゲーム背景画像(1020px,720px) */
.game_background {
    position: absolute;
    margin: auto;
    z-index: -1;
}

/* 黒板風 */
.kokuban {
    position: relative;
    padding: 1em 1em 1em;
    width: 800px;
    height: 290px;
    /* ボックス背景色 */
    background-image: url(../img/chalkboard-green-pattern-01.jpg);
    /* 文章色 */
    color: #fff;
    /* 枠線 */
    border: 10px solid #8b4513;
    /* 角の丸み */
    border-radius: 3px;
    /* 影 */
    box-shadow: 0 0 5px #333;

    top: 10px;
}

.kokuban::before,
.kokuban::after {
    position: absolute;
    content: '';
    bottom: 0;
}

.kokuban::before {
    right: 10px;
    border: solid 3px red;
    /*チョーク*/
    width: 20px;
    border-radius: 3px 2px 0 2px;
}

.kokuban::after {
    right: 40px;
    border: solid 3px #fff;
    /*チョーク（白）*/
    width: 15px;
    border-radius: 8px 5px 2px 5px;
}

.c-clock {
    margin: 0 auto;
    position: relative;
    width: 100px;
    height: 100px;
    background-color: white;
    border: 1px solid #333;
    border-radius: 50%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25),
        4px 4px 4px rgba(0, 0, 0, 0.25) inset;
    top: 15px;
}

.c-clock__hour {
    position: absolute;
    top: calc(50% - 35px);
    left: calc(50% - 2px);
    width: 4px;
    height: 35px;
    background: #333;
    transform-origin: bottom;
}

.c-clock__min {
    position: absolute;
    top: calc(50% - 45px);
    left: calc(50% - 2px);
    width: 4px;
    height: 45px;
    background: #333;
    transform-origin: bottom;
}

.c-clock__sec {
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - 1px);
    width: 2px;
    height: 40px;
    background: #ff0000;
    transform-origin: bottom;
}

.c-clock__12 {
    position: absolute;
    top: 1px;
    left: calc(50%);
    transform: translateX(-50%);
    font-size: 18px;
}

.c-clock__3 {
    position: absolute;
    top: 50%;
    right: 1px;
    transform: translateY(-50%);
    font-size: 18px;
}

.c-clock__6 {
    position: absolute;
    bottom: 1px;
    left: calc(50%);
    transform: translateX(-50%);
    font-size: 18px;
}

.c-clock__9 {
    position: absolute;
    top: 50%;
    left: 1px;
    transform: translateY(-50%);
    font-size: 18px;
}

.pbox {
    display: flex;
    justify-content: center;
    margin: 0.5em auto;
    padding: 0px 10px;
}

.cbox {
    position: relative;
    background-image: url("../img/cork02-p.jpg");
    background-size: 90%;
    background-repeat: repeat;
    box-shadow: 0 0 5px #333;
    border: solid 3px #dcdcdc;
    vertical-align: middle;
    text-align: center;
    width: 260px;
    height: 290px;
    top: 10px;
}

.boxA {
    font-family: "Roboto VF", sans-serif;
    margin-left: 20px;
    font-size: xx-large;
}

.boxB {
    font-family: "Roboto VF", sans-serif;
    margin-right: 20px;
    font-size: xx-large;
}

#meter_msg {
    position: absolute;
    top: 182px;
    left: 57px;
    z-index: 100;
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px 0 #262626, -2px -2px 0 #262626,
        -2px 2px 0 #262626, 2px -2px 0 #262626,
        0px 2px 0 #262626, 0-2px 0 #262626,
        -2px 0 0 #262626, 2px 0 0 #262626;
}

#gamescreen_playing_btns {
    position: absolute;
    right: 10px;
    bottom: 15px;
}

#moji_field {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

@font-face {
    font-family: "Roboto VF";
    src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/57225/Roboto-VF.woff2") format("woff2-variations");
    font-stretch: 75% 100%;
    font-style: oblique 0deg 12deg;
    font-weight: 100 900;
}

* {
    box-sizing: border-box;
}

:root {
    --text-weight: 500;
    --text-width: 100;
    --text-slant: 0;
}

.fun_font {
    color: white;
    display: block;
}

.splitting {
    --text-weight-min: 100;
    --text-weight-max: 900;
    --text-slant-min: 1;
    --text-slant-max: 12;
    --text-width-min: 75;
    --text-width-max: 100;
    --glow-hue-min: 0;
    --glow-hue-max: 255;
    --glow-size-min: 0;
    --glow-size-max: 15;
    --glow-lightness: 57%;
    --delay: 0;
    --duration: 3s;
    --percent: 0;
}

.char {
    font-stretch: var(--text-width);
    font-style: oblique var(--text-slant);
    font-weight: var(--text-weight);
    animation: wave var(--duration) ease-in-out var(--delay) infinite alternate;
    animation-fill-mode: backwards;
    --percent: calc(var(--char-index) / var(--char-total));
    --delay: calc(var(--percent) * var(--duration));
    --glow-hue: calc(var(--percent) * 510);
}

@keyframes wave {
    0% {
        font-variation-settings: "wght"var(--text-weight-min), "wdth"var(--text-width-min), "slnt"var(--text-slant-min);
        text-shadow: 0 0 calc(var(--glow-size-min) * 1px) hsla(var(--glow-hue), 100%, var(--glow-lightness), 1);
    }

    50% {
        font-variation-settings: "wght"var(--text-weight-max), "wdth"var(--text-width-max), "slnt"var(--text-slant-max);
        text-shadow: 0 0 calc(var(--glow-size-max) * 1px) hsla(calc(var(--glow-hue) + 255), 100%, var(--glow-lightness), 1);
    }

    100% {
        font-variation-settings: "wght"var(--text-weight-min), "wdth"var(--text-width-min), "slnt"var(--text-slant-min);
        text-shadow: 0 0 calc(var(--glow-size-min) * 1px) hsla(var(--glow-hue), 100%, var(--glow-lightness), 1);
    }
}

.book {
    position: absolute;
    width: 80px;
    height: 95px;
    background: #F33139;
    border-radius: 10px 5px 5px 10px;
    background-image: linear-gradient(to right, #D11F2F 15px, #ba0716 15px, transparent 15px);
    text-align: center;
    line-height: 70px;
    font-size: 22px;
    color: white;
    text-shadow: 1px 1px 0 #262626, -1px -1px 0 #262626,
        -1px 1px 0 #262626, 1px -1px 0 #262626,
        0px 1px 0 #262626, 0-1px 0 #262626,
        -1px 0 0 #262626, 1px 0 0 #262626;
}

.book:after {
    content: "";
    position: absolute;
    height: 15px;
    width: 78px;
    bottom: 3px;
    right: 0px;
    background: white;
    border-radius: 32px 4px 4px 32px;
    box-shadow: inset 4px 6px 0px 0px #E4E0CE;
    background-image: linear-gradient(to bottom, transparent 6px, #E4E0CE 8px, transparent 8px, transparent 12px, #E4E0CE 12px, transparent 14px, transparent 18px, #E4E0CE 18px, transparent 20px, transparent 24px, #E4E0CE 24px, transparent 26px, transparent 30px, #E4E0CE 30px, transparent 32px, transparent 36px, #E4E0CE 36px, transparent 38px, transparent 42px, #E4E0CE 42px, transparent 44px, transparent 48px, #E4E0CE 48px, transparent 50px);
}

.book:hover {
    transform: translateY(-5px);
}