.box-outside {
  padding: 0.5em 1em;
  margin: 2em 1em 10em 1em;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.box-outside p {
  font-size: 250%;
  margin: 0;
  padding: 0;
}

.box-outside .box-in {
  padding: 0.5em 1em;
  margin: 1.5em 0;
  color: #232323;
  background: #e4fcff;
  border-left: solid 10px #4682b4;
}

.box-outside .box-in p {
  font-size: 200%;
  margin: 0;
  padding: 0;
}

.Hochi-box {
  position: relative;
  margin: 2em auto;
  padding: 35px 20px 15px;
  width: 95%; /* ボックス幅 */
  background: #fff; /* ボックス背景色 */
  color: #555555; /* 文章色 */
  border: 1px solid #ccc; /* 枠線 */
  box-shadow: 1px 1px 2px #ccc; /* 影 */
 }

 .Hochi-box p {
  font-size: 200%;
  margin: 0; 
  padding: 0;
}

 .Hochi-box::before, 
 .Hochi-box::after {
  position: absolute;
  content: '';
  top: 15px;
  width: 30px;
  border: 1.5px solid #C0C0C0; /*ホチキス*/
  border-radius: 20px;
  box-shadow: 0 -1px 2px #555;
 }
 .Hochi-box::before { left: 80px;}
 .Hochi-box::after { right: 80px;}
 HTML


.color-change:hover {
  font-size: 20px;
  font-weight: bold;
}

