#header {
  position: relative;
  text-align: center;
}

#header-contents {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#game-title {
  padding-top: 10%;
}

#header-arrow {
  position: absolute;
  bottom: 1%;
}

#subheader {
  text-align: center;
}

#subheader {
  padding-top: 5%;
  text-align: center;
}

#subheader-contents {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%
}

.gamemode-img {
  border: solid black;
  border-width: 1px;
}

.gamemode-text {
  border: solid black;
  border-width: 1px;
  border-top-width: 0px;
  background-color: gainsboro;
}

.feature-box {
  padding: 5%;
  text-align: center;
}

#gamescreen {
  display: none;
  padding: 20px;
  background-color: rgb(240, 240, 240);
}

#select {
  display: none;
}
/*　テープ枠3 */
.kakomi-tape3 {
  position:relative;
  padding: 35px 20px 15px;
  margin: 2.5em auto;
  width: 90%;
  color: #555555; /* 文字色 */
  background-color: #e8ddbd;
  box-shadow: inset 0 0 40px rgba(204, 186, 136,1), 0 2px 2px #ccc;
 }
 .title-tape3 {
  position: absolute;
  top: -15px;
  left: 30px;
  padding: 4px 20px;
  color: #555555; /*タイトル色*/
  font-weight: bold;
  background-color: rgba(255,255,255,.4);
  border-left: 2px dotted rgba(0,0,0,.1);
  border-right: 2px dotted rgba(0,0,0,.1);
  box-shadow: 0 0 5px rgba(0,0,0,0.2); 
  transform: rotate(-5deg);
 }

 .buttons {
  text-align: center;
}