#header {
  position: relative;
  text-align: center;
  width: auto;
}

#header-img {
  object-fit: cover;
}

#header-contents {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#game-title {
  padding-top: 10%;
}

#header-arrow {
  position: absolute;
  bottom: 1%;
}

#subheader {
  text-align: center;
}

#subheader {
  padding-top: 5%;
  text-align: center;
}

#subheader-contents {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%
}

.gamemode-img {
  border: solid black;
  border-width: 1px;
}

.gamemode-text {
  border: solid black;
  border-width: 1px;
  border-top-width: 0px;
  background-color: gainsboro;
}

.feature-box {
  padding: 5%;
  text-align: center;
}

#gamescreen {
  display: none;
  position: relative;
  width: 1020px;
  height: 720px;
  top: 0;
  margin: auto;
  background: url("../img/gamebackground\ \(1020\,720\).png")
}

#detail_result_parent {
  display: none;
  position: relative;
  border: solid 2px black;
  margin: 50px auto 0px auto;
  height: 470px;
  width: 1200px;
}

#ranking_registration_modal {
  display: none;
}