@font-face{
  font-family: 'HGSGyoshotai';
  src: url('../fonts/HGRGY.TTC') format('truetype');
}
@font-face{
  font-family: 'HGSeikaishotai';
  src: url('../fonts/HGRSK.TTC') format('truetype');
}

body{
  background:url("../img/canvas01.png");
  background-size: 100px;
  background-repeat: repeat;
}

.wood_board{
  background:url("../img/flooring-pattern-wh\ 1.png");
  position:relative;
  background-size: 1500px;
  border-top: 10px solid;
  border-color: rgba(178,184,184,1);
  width: 100%;
  height: 100px;
  background-color: black;
}

#board_group5{
    width: 1000px;
    height: 2400px;
    background: url("../img/cork02-p-green.png");
    background-repeat: repeat;
    background-size: 80px;
    background-position: center center;
    border: 20px solid;
    border-color: rgba(178,184,184,1);
    border-radius: 10px;
    opacity: 1;
    position: relative;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 25px;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
#board_group10{
    width: 1000px;
    height: 4300px;
    background: url("../img/cork02-p-green.png");
    background-repeat: repeat;
    background-size: 80px;
    background-position: center center;
    border: 20px solid;
    border-color: rgba(217,217,217,1);
    opacity: 1;
    position: relative;
    margin: auto;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
#ranking_group5 {
    width: 860px;
    height: 1956px;
    position: absolute;
    top: 400px;
    left: 50px;
    overflow: hidden;
  }
#ranking_group10 {
    width: 860px;
    height: 3800px;
    position: absolute;
    top: 400px;
    left: 50px;
    overflow: hidden;
  }
.title {
    width: 700px;
    height: 166px;
    background: url("../img/paper_shadow.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 50px;
    left: 130px;
    overflow: hidden;
  }
.title_text_outside {
    width: 695px;
    height: 80px;
    opacity: 1;
    position: absolute;
    top: 25px;
    left: 0px;
    overflow: hidden;
    font-family: HGSGyoshotai;
    font-size: 64px;
    opacity: 1;
    text-align: center;
  }
.title_pin1 {
    width: 25px;
    height: 25px;
    background: url("../img/pin_red.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 5px;
    left: 5px;
    overflow: hidden;
  }
.title_pin2 {
    width: 25px;
    height: 25px;
    background: url("../img/pin_red.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 5px;
    right: 5px;
    overflow: hidden;
  }
  .ranking_banner {
    width: 697px;
    height: 138px;
    position: absolute;
    top: 230px;
    left: 132px;
    overflow: hidden;
  }
.ranking_banner_text {
    width: 240px;
    color: rgba(66,55,55,1);
    position: absolute;
    top: 11px;
    left: 33px;
    font-family: UD Digi Kyokasho N-B;
    font-weight: Bold;
    font-size: 32px;
    opacity: 1;
    text-align: center;
  }
.tag_yellow{
    width: 319px;
    height: 68px;
    background: url("../img/yellow_tag.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.high_school {
    width: 319px;
    height: 68px;
    position: absolute;
    top: 0px;
    left: 189px;
    overflow: hidden;
  }
.elem_school {
    width: 319px;
    height: 68px;
    position: absolute;
    top: 67px;
    left: 0px;
    overflow: hidden;
  }
.mid_school {
    width: 319px;
    height: 68px;
    position: absolute;
    top: 67px;
    left: 372px;
    overflow: hidden;
  }
.tag_pin_blue {
    width: 30px;
    height: 30px;
    background: url("../img/pin_blue.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 21px;
    left: 2px;
    overflow: hidden;
  }
    /* 賞状(タテ) */
.paper_tate {
    width: 413px;
    height: 604px;
    background: url("../img/syojo_tate.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
.tate_pin1 {
    width: 25px;
    height: 25px;
    background: url("../img/pin_red.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 5px;
    left: 5px;
    overflow: hidden;
  }
.tate_pin2 {
  width: 25px;
  height: 25px;
  background: url("../img/pin_red.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  right: 0px;
  overflow: hidden;
  }
.ranking_title {
    width: 413px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 90px;
    left: 0px;
    font-family: HGSeikaishotai;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
.ranking_text {
    width: 413px;
    color: rgba(0,0,0,1);
    position: relative;
    top: 165px;
    left: 80px;
    font-family: HGSeikaishotai;
    font-size: 25px;
    opacity: 1;
  }
.ranking_list_2 {
    width: 860px;
    height: 604px;
    position: relative;
    top: 0px;
    left: 0px;
    margin-top: 25px;
    margin-bottom: 25px;
    overflow: hidden;
  }
.ranking_list_1{
    width: 860px;
    height: 604px;
    position: relative;
    top: 0px;
    left: 0px;
    margin-top: 25px;
    margin-bottom: 25px;
    overflow: hidden;
  }
.paper_right {
    width: 413px;
    height: 604px;
    position: absolute;
    top: 0px;
    left: 447px;
    overflow: hidden;
  }
.paper_left {
    width: 413px;
    height: 604px;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
.paper_center {
    width: 413px;
    height: 604px;
    position: absolute;
    top: 0px;
    left: 223px;
    overflow: hidden;
}